.loader-container {
    background: linear-gradient(180deg, #505050 0%, #2E1065 100%);
    width: 100%;
    height: 100vh;    
       
    display: flex;
    justify-content: center; 
    align-items: center; 

    position: fixed;     
    top: 0;
    left: 0;
    z-index: 9999;
}