.video-player {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
}

.video-player iframe {
    width: 90%;   
    max-width: 800px;      
    height: auto;          

    aspect-ratio: 16 / 9;  

    border: 1px solid #aab0ed;
    border-radius: 15px;
    margin: 0 10px;
}

.video-player.hide {
    display: none;
}